body{
    background-color: #4cbaf2;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}
#root{
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

